
@media only screen and (max-width: 600px) {
    main {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: auto;
    }

}
@media only screen and (min-width: 600px) {
    main {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: auto;

    }
}

p {
    line-height: 2;
    text-align: justify;
}

header {
    text-align: center;
}

.citation {
    border: 0;
    padding-left: 5px;
    border-left: 1px;
    border-style:solid;
}

.citation p {
    margin-top: 1%;
    padding: 0;
}

footer {
    margin-top: auto;
}

#author {
    float: left;
}

#date {
    float: right;
}

#cover {
    padding: 2%;
    width: 30%;
    min-width: 250px;
    float:left;
}

