body {
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
}

.dark-mode {
    background-color: #050203;
    color: white;
}

.dark-mode a {
    color:cornflowerblue;
}

table {
    width: 100%;
}

nav {
    position: fixed;
    margin: 0;
    top: 1%;
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
ul {
    list-style:none;
}
a {
    text-decoration: none;
}
nav a {
    width: 100%;
    margin: 0;
    float: none;
}
nav a:hover {
    background-color:black;
}